<div class="about-contact-container">
    <div class="about-section">
        <h2>About Us</h2>
        <p>
            Our Store was founded by a group of professionals dedicated to designing innovative and
            sustainable products that stand the test of time. With our exceptional service and attention to detail, we
            guarantee that your shopping experience will be seamless from start to finish. Take a look at our site to
            learn more about our brand and quality standards.
        </p>
        <button>Contact Us</button>
    </div>
    <div class="contact-section">
        <h2>Contact Us</h2>
        <address>
            Tien Minh<br />
            <a href="mailto:info@mysite.com">info&#64;mysite.com</a><br />
            123-456-7890
        </address>
    </div>
</div>
<img [src]="imagePath" alt="BackGroung Image" style="width: 1903px;">