<img [src]="imagePath" alt="BackGroung Image" style="width: 1903px;">
<div class="container">
    <h1 class="title">NEW ARRIVALS ARE HERE</h1>
    <p class="subtitle">Limited time price drop!</p>
</div>
<div class="product-grid">
    <div *ngFor="let item of productList">
        <app-product-items [product]="item" (viewDetail)="showDialog(item)">
        </app-product-items>
    </div>
</div>
<div class="card flex justify-content-center">
    <p-dialog header="Detail" [modal]="true" [(visible)]="visible" [style]="{ width: '70rem' }">
        <div *ngIf="selectedProduct" class="product-info">
            <div class="product-details">
                <h2 class="product-title">{{ selectedProduct.name }}</h2>
                <p class="product-colors">{{ selectedProduct.colors }} Colors</p>
                <p class="product-price">$ {{ selectedProduct.price }}</p>
                <p class="product-description">{{ selectedProduct.detail }}</p>
            </div>
            <div class="product-image-container">
                <img [src]="selectedProduct.image" alt="{{ selectedProduct.name }}" class="product-image" style="width: 40rem; height: inherit;">
            </div>
        </div>

        <p-button label="Add To Cart" icon="pi pi-check" size="small" [rounded]="true" severity="info"
            (onClick)="addToCart(selectedProduct)" />
    </p-dialog>
</div>
<!-- <app-bootstrap-dialog></app-bootstrap-dialog> -->