.subscribe-component {
    display: flex;
    margin-top: auto;
}

.subscribe-container {
    margin: auto;
    text-align: center;
    font-family: Arial, sans-serif;
}

h2 {
    color: #336666;
    font-size: 24px;
    margin-bottom: 20px;
}

.subscribe-form {
    display: inline-flex;
    align-items: center;
    border: 2px solid #336666;
    border-radius: 5px;
    overflow: hidden;
}

.email-input {
    padding: 10px;
    border: none;
    outline: none;
    width: 300px;
    font-size: 16px;
    color: #666666;
    background-color: #f8f5f5;
}

.join-button {
    padding: 10px 20px;
    border: none;
    background-color: #336666;
    color: white;
    cursor: pointer;
    font-size: 17px;
}

.join-button:hover {
    background-color: #264d4d;
}